/* --- Fonts --- */

@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:300,400,600|Hind:300,400,600');

.red-head {
    display: block;
    color: #d03232;
    font-family: 'Hind Guntur', sans-serif;
    font-weight: 600;
    text-align: center;
}

/* --- End Fonts --- */

.navbar-default {
    vertical-align: middle;
    background-color: #d03232;
    color: #000000;
    border: None;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
    vertical-align: middle;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #d03232;
    transition: all 0.5s ease-in-out;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 0;
    text-align: center;
}

#home-fa,
#about-fa,
#portfolio-fa,
#contact-fa {
    font-size: 2em;
}


/* --- End Navbar Makeup --- */

/* --- Portfolio Section ---*/

.portfolio-container {
    width: 100%;
}

.portfolio-container img {
    width: 100%;
}

.gallery-fs {
    background-color: #d03232;
    height:100vh;
}


/* --- End Portfolio Page ---*/


