/* --- Fonts --- */

@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:300,400,600|Hind:300,400,600');

/* --- End Fonts --- */

/* --- Navbar Makeup --- */

.navbar {
    min-height: 58px;
}

.navbar-brand img {
    max-height: 400%;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.5);
    border: None;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
    padding-top: 15px;
    padding-bottom: 5px;
    line-height: 25px;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #d03232;
    transition: all 0.5s ease-in-out;
    /*background-color: transparent;*/
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 0;
    text-align: center;
}

#home-fa,
#about-fa,
#portfolio-fa,
#contact-fa {
    font-size: 2em;
}


/* --- End Navbar Makeup --- */

/* --- Background and Logo ---*/

.bg-fixed {
    height: 100vh;
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
}

.logo-row {
    background-color: rgba(255, 255, 255, 0.5);
    
}

.centered-logo {
    content: url(../images/logo.png);
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin: 10px auto 12px;
    animation: fade-in 3s ease-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.name {
    animation: showup 7s;
}

.title {
    animation: reveal 7s;
}

.title span {
    animation: slidein 7s;
}

/*------------------------------------------------------------------ end css for title image*/

/*------------------------------------------------------------------ css for about area*/

.content-area {
    background-image: url('./assets/images/wall-texture.jpeg');
    background-size: cover;
}

.content {
    margin-top: 80px;
    margin-bottom: 80px;

}

.info-segment {
    margin-top: 50px;
}

.info-icon {
    font-size: 30px;
}

.content-heading {
    font-family: 'Catamaran', sans-serif;
}

.content-section {
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
}

.skill-list {
    list-style: none;
}

.skill-list li:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.info-segment a * {
    color: #000000;
}

.info-segment a:hover * {
    text-decoration: underline;
}

/*------------------------------------------------------------------end css for about area*/

/*------------------------------------------------------------------css for portfolio area*/

.photo2 {
    background-image: url('./assets/images/computer-camera.jpeg');
}

.portfolio-title {
    top: 15vh !important;
    margin-bottom: 10px;
}

.portfolio-heading {
    margin-top: 40px;
    font-family: 'Finger Paint', cursive;
    font-weight: bold;
    margin-bottom: 40px;
}

.polaroid {
    width: 100%;
    padding: 10px 10px 10px 10px;
    background: #fafafa;
    box-shadow: inset 0 0 10px #000000;
}

.p1 {
    -ms-transform: rotate(20deg);
    /* IE 9 */
    -webkit-transform: rotate(20deg);
    /* Safari */
    transform: rotate(-20deg);
}

.p2 {
    -ms-transform: rotate(13deg);
    /* IE 9 */
    -webkit-transform: rotate(13deg);
    /* Safari */
    transform: rotate(13deg);
}

.p3 {
    -ms-transform: rotate(-5deg);
    /* IE 9 */
    -webkit-transform: rotate(-5deg);
    /* Safari */
    transform: rotate(-5deg);
}


.portfolio-thumb {
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%) brightness(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(0%);
    transition: all 0.5s ease-in-out;
}

.portfolio-thumb:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.polaroid-writing {
    margin-top: 10px;
}

.project-info {
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    background-image: linear-gradient(to right, #ffffff, #D3D3D3);
    padding: 5px;
}

.project-info p {
    font-family: 'Catamaran', sans-serif;
    font-size: 15px;
}

/*------------------------------------------------------------------end css for portfolio area*/

/*------------------------------------------------------------------css for contact area*/

.large-text {
    font-size: 30px;
    margin-bottom: 40px;
}

.email-form-area {
    width: 100%;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

textarea {
    resize: none;
}

.social-link {}

.social-media-area {
    margin-top: 40px;
}

.social-link {
    text-align: center;
    font-size: 25px;
    width: 60px;
    height: 60px;
    background: black;
    margin: 0 auto;
    line-height: 60px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    filter: opacity(60%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.social-media-area a {
    color: #ffffff;
}

.social-link:hover {
    filter: opacity(100%);
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

.social-media-area a:hover,
.social-media-area a:visited {
    color: #ffffff !important;
}


/*------------------------------------------------------------------end css for contact area*/

@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: auto
    }
    80% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .title-animation {
        font-size: 12px;
    }
    .parallax {
        background-attachment: scroll
    }
    .info-icon {
        margin-bottom: 10px;
    }
    .profile-img {
        margin-top: 20px;
    }
    .polaroid {
        padding: 5px 5px 5px 5px;
        width: 110%;
    }
    .polaroid-writing {
        font-size: 10px;
        margin-bottom: 0;
        margin-top: 5px;
    }
    .portfolio-thumb {
        filter: None;
    }
    .project-info {
        display: none;
    }
    .portfolio-heading {
        margin-top: 20px;
    }
    .portfolio-title {
        top: 30vh!important;
    }
    .p2 {
        margin-top: 20vh;
    }
}
