/* --- Fonts --- */

@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:300,400,600|Hind:300,400,600');

/* --- End Fonts --- */

/* --- Navbar Makeup --- */

.navbar {
    min-height: 60px;
}

.navbar-default .navbar-brand {
    /*color: #000000;*/
    font-size: 2em;
    vertical-align: middle;
    padding-top: 20px;
}

.brand-hlogo {
    font-size: 1.5em;
}

.navbar-default {
    background-color: #ffffff;
    color: #000000;
    border: None;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
    vertical-align: middle;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #d03232;
    transition: all 0.5s ease-in-out;
    /*background-color: transparent;*/
}

.navbar-default .navbar-brand {
    color: #000000;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #000000;
    background-color: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 0;
    text-align: center;
}

#home-fa,
#about-fa,
#portfolio-fa,
#contact-fa {
    font-size: 2em;
}


/* --- End Navbar Makeup --- */

/* --- Background and Logo ---*/

.bg-fixed {
    height: 100vh;
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    padding-top: 60px;
}

.logo-row {
    background-color: rgba(255, 255, 255, 0.4);

}

.centered-logo {
    content: url(../images/logo.png);
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin: 10px auto 12px;
}

/* --- End Background and Logo ---*/

/* --- About --- */


.about-container {
    top: 5vh;
    height: 85vh;
    margin-top: 80px;
    margin-bottom: 40px;
    width: 100%;
    overflow-x: hidden;
}

.name-header {
    text-align: center;
}

.profile-pic {
    margin-top: 25px;
}

.profile-pic img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-container {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 1.4em;

}

.story-time h2 {
    font-family: 'Hind Guntur', sans-serif;
    font-weight: 600;
}

/*Portfolio Page*/

.portfolio-container {
    max-width: 100%;
}

.portfolio-container img {
    max-width: 100%;
}